<div class="admin-dashboard-container">
    <div class="admin-foods-list">
        <h1>{{category.title}}</h1>
        <h2>{{category.description}}</h2>
        <div>
            <p>Items in the category:</p>
            {{#if category.foods}}
                <ul id="category-items">
                {{#each category.foods}}
                    <li>
                        <div class="food-image-container">
                            <img src="/images/{{itemImg}}" alt="{{itemTitle}}">
                        </div>
                        <a href="/admin/{{../category._id}}/item/{{_id}}" id="{{_id}}">{{itemTitle}}</a>
                        <p>Description: {{itemDescription}}</p>
                        <p>Cost: {{itemCost}}</p>

                    </li>
                {{/each}}
                </ul>
            {{else}}
                <h2>No items yet.</h2>
            {{/if}}
        </div>
    </div>
    <div>
        <div id="errors"></div>
        <div class="auth-box">
            <h2>Update category</h2>
            <form>
                <div class="input-field">
                    <label class="active" for="category-title">New category name</label>
                    <input type="text" autocomplete="off" id="category-title" value="{{category.title}}" >
                </div>
                <div class="input-field">
                    <label class="active" for="category-description">New category description</label>
                    <input type="text" autocomplete="off" id="category-description" value="{{category.description}}">
                </div>
                <button id="{{category._id}}" class="waves-effect waves-light button-main">
                    <i class="material-icons left">edit</i>Update Category
                </button>
                <button id="remove-category" class="waves-effect waves-light button-main">
                    <i class="material-icons left">delete</i>Remove Category
                </button>
            </form>
        </div>
        <div class="auth-box">
            <h2>Add new item</h2>
            <form>
                <div class="input-field">
                    <label for="food-title">Food title</label>
                    <input type="text" autocomplete="off" id="food-title">
                </div>
                <div class="input-field">
                    <label for="food-description">Food description</label>
                    <input type="text" autocomplete="off" id="food-description">
                </div>
                <div class="input-field">
                    <label for="food-cost">Food cost</label>
                    <input type="number" autocomplete="off" id="food-cost">
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Food Image</span>
                        <input type="file" id="food-img">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button id="add-food" class="waves-effect waves-light button-main"><i class="material-icons left">add</i>Add Food</button>
            </form>
        </div>
    </div>
</div>
