<div class="food-item-container">
  <h1>{{food.itemTitle}}</h1>
  <h2>{{food.itemDescription}}</h2>
  <h2>{{food.itemCost}}</h2>
  <div id="errors"></div>
  <div class="admin-food-container">
    <div class="auth-box">
      <p>Edit Food item</p>
      <form>
        <div class="food-image-container">
          <img src="/images/{{food.itemImg}}" alt="{{food.itemTitle}}">
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>Food Image</span>
            <input type="file" id="food-img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="input-field">
          <label class="active" for="food-title">Title:</label>
          <input type="text" id="food-title" autocomplete="off" value="{{food.itemTitle}}">
        </div>
        <div class="input-field">
          <label class="active" for="food-description">Description:</label>
          <input type="text" id="food-description" autocomplete="off" value="{{food.itemDescription}}">
        </div>
        <div class="input-field">
          <label class="active" for="food-cost">Cost:</label>
          <input type="number" id="food-cost" autocomplete="off" value="{{food.itemCost}}">
        </div>
        <button id="{{food._id}}" class="waves-effect waves-light button-main">
          <i class="material-icons left">edit</i>Update Food
        </button>
        <button id="food-remove" class="waves-effect waves-light button-main">
          <i class="material-icons left">delete</i>Remove Food
        </button>
      </form>
    </div>
    <div class="admin-food-comments">
      <p>Comments:</p>
      {{#if food.comments}}
        <ul>
          {{#each food.comments}}
            <li id={{{_id}}}>
              <div>
                <div>
                  <p>{{user.name}}</p>
                  <p>{{user.email}}</p>
                </div>
                <div>
                  <p>{{text}}</p>
                </div>
              </div>
              <div>
                <i class="delete-comment material-icons">delete</i>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
      <p>No comments yet.</p>
      {{/if}}
    </div>
  </div>
</div>