<div class="admin-dashboard-container">
    <div class="admin-category-list">
        {{#if categories}}
            <h2>Categories: </h2>
            <ul id="category_list_admin">
            {{#each categories}}
                <li><a id="{{_id}}" href="admin/{{_id}}">{{title}}</a></li>
            {{/each}}
            </ul>
        {{else}}
            <h2>No categories yet.</h2>
        {{/if}}  
    </div>
    <div class="admin-add-category auth-box">
        <h2>Add category</h2>
        <div id="errors"></div>
        <form id="category_form">
            <div class="input-field">
                <label for="category_name">Category Title</label>
                <input type="text" name="category_name" autocomplete="off" id="category_name" >
            </div>
            <div class="input-field">
                <label for="category_description">Category Description</label>
                <input type="text" name="category_description" autocomplete="off" id="category_description">
            </div>
            <button type="submit" class="waves-effect waves-light button-main"><i class="material-icons left">add</i>Add Category</button>
        </form>
    </div>
</div>