<h1>You already have order for this day</h1>
<a href="/orders" id="edit-order">Edit order</a>
<a href="/orders" id="delete-order">Delete order</a>
{{#if foods}}
  {{#each foods}}
    <div>
        <li>
      <strong>{{itemTitle}}</strong>
      <p>{{itemDescription}}</p>
      <p>Cost {{itemCost}}</p>
        </li>
    </div>
  {{/each}}
{{else}}
  <strong>Sorry, your foods are not available now.</strong>
  <p>You can add new foods or cancel your order.</p>
{{/if}}
