{{#if update}}
    <h1>Edit your order</h1>
    {{#if categories}}
        <form id="edit-menu-form">
            <ul>
            {{#each categories}}
                <li>
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    {{#if foods}}
                            {{#each foods}}
                            <p>
                                <label>
                                    {{#inArray ../../foodsOrdered _id}}
                                        <input class="filled-in" type="checkbox" name="foods" checked="checked" value="{{_id}}" id="{{_id}}" />
                                    {{else}}
                                        <input class="filled-in" type="checkbox" name="foods" value="{{_id}}" id="{{_id}}" />
                                    {{/inArray}}
                                    <span>{{itemTitle}}</span>
                                </label>
                            </p>
                            {{/each}}
                    {{else}}
                        <p>No Items yet</p>
                    {{/if}}
                </li>
            {{/each}}
            </ul>
            <button type="submit">Change Your Meal</button>
        </form>
    {{else}}
        <h2>No categories yet.</h2>
    {{/if}}
{{else}}
    <h1>You have no orders for this day. Please, make one.</h1>
    {{#if categories}}
        <form id="menu-form">
            <ul>
            {{#each categories}}
                <li>
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    {{#if foods}}
                            {{#each foods}}
                            <p>
                                <label>
                                    <input class="filled-in" type="checkbox" name="foods" value="{{_id}}" id="{{_id}}" />
                                    <span>{{itemTitle}}</span>
                                </label>
                            </p>
                            {{/each}}
                    {{else}}
                        <p>No Items yet</p>
                    {{/if}}
                </li>
            {{/each}}
            </ul>
            <button type="submit"> Order Your Meal</button>
        </form>
    {{else}}
        <h2>No categories yet.</h2>
    {{/if}}
{{/if}}
