html, body, div, span, h1, h2, h3, p, a, img, strong, i, ol, ul, li,
form, label, canvas, footer, header, menu, nav, section, summary, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-size: 18px;
    background-color: rgb(236, 236, 236);
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

/* CUSTOM STYLES */
body {
    font-family: 'Quicksand', sans-serif;
}

#navbar {
    justify-content: flex-end;
    display: flex;
    padding: 20px;
    background-color: #EF8C4B;
}

#navbar a {
    padding: 10px 15px;
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.content-links {
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

#register {
    background-color: rgb(187, 103, 46);
    color: #fff;
    border-radius: 10px;
}

#login {
    background-color: #fff;
    border-radius: 10px;
    color: #EF8C4B!important;
}

#logout {
    justify-self: flex-end;
    background-color: rgb(187, 103, 46);
    color: #fff;
    border-radius: 10px;
}

#login,
#logout,
#register {
    display: flex;
    width: 120px;
    justify-content: center;
}

/* MAIN CONTENT */
#container {
    padding: 10px;
}

h1  {
    font-size: 2.5rem;
}

h1 strong {
    font-weight: 700;
}

.welcome-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#errors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    color: #E55D42;
}

#errors p {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.auth-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

.auth-box h2 {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

.auth-box form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.18);
}

.auth-box>p {
    flex-basis: 100%;
    margin-bottom: 10px;
}

#login-form,
#register-form {
    width: 30%;
}

.button-main {
    flex-basis: 100%;
	padding: 10px 30px;
    background-color: #EF8C4B;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.button-main:focus {
	background-color: #EF8C4B;
}

.message-container {
    text-align: center;
    padding: 30px;
    border: 2px solid #F7B65B;
    border-radius: 10px;
    font-weight: 700;
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
}

/* USER */
.categories-list {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.categories-list ul {
    display: flex;
    flex-wrap: wrap;
}

.categories-list li {
	margin-bottom: 20px;
}

.categories-list>li>div,
.foods-list>li>div {
    display: flex;
    justify-content: center;
}

.categories-list>li>div>h2 {
    margin-right: 5px;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.categories-list>li>p {
	margin-bottom: 20px;
}

.categories-list>li>ul {
	text-align: left;
}


.categories-list>li>ul>li {
	width: 260px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	background: #fff;  
}

#container>h2 {
	font-weight: 700;
	font-size: 1.5rem;
}

.categories-list>li>ul>li>div>h3 {
	margin-bottom: 5px;
	margin-right: 5px;
	font-weight: 700;
	font-size: 1.4rem;
}

.categories-list>li>ul>li>p {
    flex-basis: 100%;
    margin-bottom: 5px;
    text-align: center;
}

/* ADMIN DASHBOARD */
.admin-dashboard-container {
    display: flex;
}

.admin-dashboard-container>div {
    flex-basis: 50%
}

.admin-category-list h2 {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 1.5rem;
}

.admin-category-list ul li {
	margin-bottom: 40px;
}

.admin-category-list ul li a {
	color: #F7B65B;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid #F7B65B;
    border-radius: 10px;
    background-color: #fff;
}

.comment{
    border: #bce8f1;
    border-radius: 12px;
    margin-left: 12px;
}

#remove-category,
#food-remove {
    background-color: #E55D42;
    margin-top: 15px;
}

.admin-foods-list {
	padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.18);
}

.admin-foods-list>h1 {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 2rem;
}

.admin-foods-list>h2 {
	margin-bottom: 5px;
	font-weight: 700;
	color: #F7B65B;
}

.admin-foods-list>div>p {
	margin-bottom: 10px;
	color: rgb(94, 94, 94);
	font-size: 0.9rem;
}

.admin-foods-list>div>ul>li {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(236, 236, 236);
	border-radius: 10px;
}

.admin-foods-list>div>ul>li>a {
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	color: #EF8C4B;
	background-color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.admin-foods-list>div>ul>li>p {
	margin-bottom: 5px;
	font-size: 0.9rem;
}

.food-item-container {
    text-align: center;
}

.food-item-container>h1 {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 2rem;
}

.food-item-container h2 {
	margin-bottom: 5px;
	font-size: 1.4rem;
}

.food-item-container h2:nth-child(3) {
    margin-bottom: 30px;
}

.food-item-container>p {
	margin-top: 20px;
	font-size: 1rem;
}

.food-item-container .auth-box {
	width: 40%;
}

/* Redefine some materialize styles */
.datepicker-date-display {
    background-color: #EF8C4B !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .is-today {
    color: #EF8C4B !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus,
#comment-form input[type=text]:focus,
#comment-area input[type=text]:focus {
    border-bottom: 1px solid #EF8C4B !important;
    box-shadow: 0 1px 0 0 #EF8C4B !important;
}

.is-selected {
    color: #fff !important;
    background-color: #EF8C4B !important;
}

.input-field {
    flex-basis: 100%;
}

.food-image-container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.15);
    border-radius: 50%;
}

.food-image-container img {
    width: inherit;
    height: auto;
}

.image-left {
    margin: 20px 0;
}

.btn {
    background-color: #EF8C4B;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: none;
}

.btn:hover {
    background-color: #F7B65B;
    box-shadow: none;
}

input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #EF8C4B;
    box-shadow: 0 1px 0 0 #EF8C4B;
}

.liked {
    padding: 7px;
    background-color: #EF8C4B;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.not-liked {
    padding: 7px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
    color: #B6B6B6;
    cursor: pointer;
}

.not-liked:hover {
	background-color: #EF8C4B;
	color: #fff;
}

.not-liked:active {
	background-color: #EF8C4B;
	color: #fff;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.get-food-item {
    margin: 5px 0;
    padding: 5px 10px;
    background: none;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: #EF8C4B;
    font-weight: 700;
    cursor: pointer;
}

.get-food-item:hover {
	background: #EF8C4B;
	color: #fff;
}

.get-food-item:focus {
	background: #EF8C4B;
	color: #fff;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#comment-form {
    background: #fff;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#comment-form button {
    background: #EF8C4B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#comment-form button:focus {
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#comment-area {
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

#comment-area>ul>li {
    margin-bottom: 10px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;
}

#comment-area>ul>li div:first-child {
    display: flex;
    flex-basis: 90%;
    align-items: center;
}

#comment-area>ul>li div:first-child strong {
    font-weight: 700;
    margin-right: 10px;
}

#comment-area>ul>li div:last-child i,
.admin-food-comments>ul>li div:last-child i {
    cursor: pointer;
    background: #fff;
    padding: 5px;
    border-radius: 7px;
}

#comment-area>ul>li div:last-child i:first-child {
    color: #EF8C4B;
    border: 2px solid #EF8C4B;
}

#comment-area>ul>li div:last-child i:last-child,
.admin-food-comments>ul>li div:last-child i {
    color: #EF4B3B;
    border: 2px solid #EF4B3B;
}

#comment-area input {
    width: 85%;
}

.save-comment {
    color: #EF8C4B!important;
    border: 2px solid #EF8C4B!important;
}

.admin-food-comments {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.18);
}

.admin-food-comments>p:first-child {
    text-align: left;
}

.admin-food-comments>ul>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 0;
    margin-bottom: 10px;
}

.admin-food-comments>ul>li>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.admin-food-comments>ul>li>div:first-child {
    flex-basis: 100%;
}

.admin-food-comments>ul>li>div:first-child>div {
    flex-basis: 50%;
}

.admin-food-comments>ul>li>div:first-child>div>p {
    text-align: left;
}

.admin-food-comments>ul>li>div:first-child>div:first-child p:last-child {
    font-size: 14px;
}

.admin-food-container {
    display: flex;
}

.admin-food-container .auth-box {
    padding: 0;
}

.ranking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ranking-item {
    padding: 20px;
    flex-basis: 30%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.18);
}

.ranking-item>h2 {
    text-align: center;
    margin-bottom: 10px;
}

.ranking-item>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
}

.ranking-item>ul>li>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 90%
}

.ranking-item>ul>li>div:first-child>p {
    font-weight: 700;
    margin-right: 10px;
}

.ranking-item>ul>li>div:first-child>p:last-child {
    color: #B6B6B6;
}

.ranking-item>ul>li>div:last-child>button {
    background: none;
    color: #EF8C4B;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
}