<div class="auth-box">
  <h2>Log In</h2>
  <div id="errors"></div>
  <form id="login-form">
    <div class="input-field">
      <label for="email">Email</label><input type="email" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label><input type="password" name="password" id="password">
    </div>
    <button class="button-main" type="submit">Log In</button>
  </form>
</div>
