<div class="auth-box">
  <h2>Registration</h2>
  <div id="errors"></div>
  <form id="register-form">
    <div class="input-field">
      <label for="name">Name</label>
      <input type="text" id="name">
    </div>
    <div class="input-field">
      <label for="email">Email</label>
      <input type="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password"  id="password">
    </div>
    <div class="input-field">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword">
    </div>
    <button class="button-main" type="submit">Register</button>
  </form>
</div>