<div>
    <h1>{{food.itemTitle}}</h1>
    <div>
        {{#if userLike}}
          <h2>{{title}}</h2><i class="category-like liked material-icons" id="food-like">thumb_up</i>
        {{else}}
          <h2>{{title}}</h2><i class="category-like not-liked material-icons" id="food-like">thumb_up</i>
        {{/if}}
    </div>
    <h2>{{food.itemDescription}}</h2>
    <h2>{{food.itemCost}}</h2>
    <div class="food-image-container image-left">
        <img src="/images/{{food.itemImg}}" alt="{{food.itemTitle}}">
    </div>
    <form id="comment-form">
        <label for="comment">Type your comment</label>
        <input name="comment" type="text" autocomplete="off">
        <button id={{food._id}} type="submit">Send</button>
    </form>
    </div>
    <div id="comment-area">
        {{#if comments}}
            <ul id="comments">
                {{#each comments}}
                    <li id="{{_id}}">
                        <div>
                            <strong>{{user.name}}:</strong> <span>{{text}}</span>
                        </div>
                        {{#inArray ../userCommentsArray _id}}
                            <div>
                                <i class="edit-comment material-icons">edit</i>                           
                                <i class="delete-comment material-icons">delete</i> 
                            </div>                          
                        {{/inArray}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h2>No comments yet.</h2>
        {{/if}}
</div>
