{{#if categories}}
  <ul class="categories-list">
  {{#each categories}}
    <li id="{{_id}}">
      <div>
        {{#if liked}}
          <h2>{{title}}</h2><i class="category-like liked material-icons">thumb_up</i>
        {{else}}
          <h2>{{title}}</h2><i class="category-like not-liked material-icons">thumb_up</i>
        {{/if}}
      </div>
      <p>{{description}}</p>
      {{#if foods}}
        <ul class="foods-list">
          {{#each foods}}
            <li id="{{_id}}">
              {{#if liked}}
                <div>
                  <h3>{{itemTitle}}</h3><i class="food-like liked material-icons">thumb_up</i>
                </div>
              {{else}}
                <div>
                  <h3>{{itemTitle}}</h3><i class="food-like not-liked material-icons">thumb_up</i>
                </div>
              {{/if}}
              <div class="food-image-container image-left">
                <img src="/images/{{itemImg}}" alt="{{itemTitle}}">
              </div>  
              <p>{{itemDescription}}</p>
              <p>${{itemCost}}</p>
              <button class="get-food-item">More info</button>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No foods yet.</p>
        <ul></ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
{{else}}
    <h2>No categories yet.</h2>
{{/if}}

