<div class="ranking-container">
  <div class="ranking-item">
    <h2>Most liked foods</h2>
    {{#if likedFoods}}
      <ul>
        {{#each likedFoods}}
        <li>
          <div>
            <p>{{itemTitle}}</p>
            <p>{{likes.length}} <i class="material-icons">thumb_up</i></p>
          </div>
          <div id={{_id}}>
            <button class="food-item">Details</button>
          </div>
        </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No liked foods.</p>
    {{/if}}
  </div>
  <div class="ranking-item">
    <h2>Most ever ordered by you.</h2>
    {{#if everOrderedFoods}}
      <ul>
        {{#each everOrderedFoods}}
        <li>
          <div>
            <p>{{itemTitle}}</p>
            <p>{{orders.length}} <i class="material-icons">shopping_cart</i></p>
          </div>
          <div id={{_id}}>
            <button class="food-item">Details</button>
          </div>
        </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No ordered foods.</p>
    {{/if}}
  </div>
  <div class="ranking-item">
    <h2>Most ordered tommorow.</h2>
    {{#if dayOrderedFoods}}
      <ul>
        {{#each dayOrderedFoods}}
        <li>
          <div>
            <p>{{itemTitle}}</p>
            <p>{{orders.length}} <i class="material-icons">shopping_cart</i></p>
          </div>
          <div id={{_id}}>
            <button class="food-item">Details</button>
          </div>
        </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No ordered foods.</p>
    {{/if}}
  </div>
</div>